body {
	overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, p {
	margin-bottom: 0;
}

ul {
	margin-bottom: 0;
}

.material-symbols-outlined {
	font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;

	&.fill-0 {
		font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
	}
}

a {
	text-decoration: none;
	color: currentcolor;

	&:hover {
		color: currentcolor;
	}
}

// 全站共用的容器
.container {
	padding: 2.5rem 0.75rem;
	max-width: 1296px;

	@include media-md {
		padding: 5rem 1.5rem;
	}

	@include media-xxl {
		margin-right: auto;
		margin-left: auto;
		padding: 5rem 0;
	}
}

.container-with-navbar {
	margin-top: $header-height-sm;

	@include media-md {
		margin-top: $header-height;
	}
}

// backdrop
.modal-backdrop, .offcanvas-backdrop {
	--bs-backdrop-zindex: 1050;

	background-color: rgb($black, 0.5);
	opacity: 1 !important;
	backdrop-filter: blur(10px);
	z-index: var(--bs-backdrop-zindex);
}

.backdrop {
	--bs-backdrop-zindex: 1056;

	background-color: rgb($black, 0.5);
	opacity: 1 !important;
	backdrop-filter: blur(10px);
	z-index: var(--bs-backdrop-zindex);
}

.modal-dialog-end {
	align-items: end;
	margin-bottom: 0 !important;
}

// spinner
.spinner-border {
	--bs-spinner-width: 4rem;
	--bs-spinner-height: 4rem;
	--bs-spinner-border-width: 0.35em;
}
