.btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 1rem 2rem;
	font-weight: 600;
	letter-spacing: 0.32px;

	&:disabled {
		color: $gray-60 !important;
		border-color: transparent;
		opacity: 1;

		&:hover, &:active, &.active, &:focus, &.active:focus, &:active:focus {
			color: $gray-60 !important;
			border-color: transparent;
		}
	}

	&.btn-primary {
		&:disabled {
			background-color: $gray-40;
		}

		&:hover, &:active, &.active, &:focus, &.active:focus, &:active:focus {
			background-color: $primary-120;
			border-color: $primary-120;
		}
	}

	&.btn-outline-primary {
		color: $primary;

		&:disabled {
			border-color: $gray-60;
		}

		&:hover, &:active, &.active, &:focus, &.active:focus, &:active:focus {
			color: $primary-120;
			background-color: $primary-10;
			border-color: $primary-120;
		}
	}

	&.btn-ghost {
		padding: 1rem;
		color: $white;
		border-color: transparent !important;

		&:hover, &:active, &.active, &:focus, &.active:focus, &:active:focus {
			color: $primary;
		}
	}

	&.btn-link {
		padding: 0;
	}
}

.dropdown {
	.dropdown-menu {
		overflow: hidden;
		border-color: $primary-10;
		border-radius: 1.25rem;
	}

	.dropdown-item {
		padding: 1rem 1.5rem;
		font-weight: 700;

		&:hover, &:active, &:focus {
			color: $primary;
			background-color: $primary-10;
		}
	}
}
