.form-label {
	font-weight: 700;
	color: $white;
	letter-spacing: 0.32px;
}

.form-control {
	padding: 1rem;
	font-weight: 500;
	color: map-get($gray-base, "gray-80");
	border-color: map-get($gray-base, "gray-40");
	letter-spacing: 0.32px;

	&::placeholder {
		color: map-get($gray-base, "gray-60");
	}

	&:focus {
		border-color: $primary;
		box-shadow: 0 0 0 0.25rem rgba($primary, 0.1);
	}

	&.is-valid, &.is-invalid {
		background-image: none;
		box-shadow: none;
	}
}

.form-text {
	display: inline-block;
	font-weight: 700;
}

.form-check {
	display: flex;
	align-items: center;
	margin-bottom: 0;

	.form-check-input {
		margin-right: 0.5em;
		width: 1.5rem;
		height: 1.5rem;

		&:focus {
			box-shadow: 0 0 0 2px rgba($primary, 0.2);
		}
	}

	&:hover .form-check-input {
		box-shadow: 0 0 0 2px rgba($primary, 0.2);
	}
}
