$border-radius: 0.5rem !default; // rounded-2
$header-height-sm: 72px;
$header-height: 120px;
$transition: 0.2s ease-in-out;
$min-contrast-ratio: 3; // 調整對比色數值
$dropdown-min-width: 260px;
$form-select-indicator: url("data:image/svg+xml,%3Csvg width='12' height='6' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L7 7L13 1' stroke='%234D4D4D' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");





// // 文字省略號
// // $line-clamp: Number
// @mixin multilineEllipsis($line-clamp) {
// 	display: -webkit-box;
// 	-webkit-box-orient: vertical;
// 	-webkit-line-clamp: $line-clamp; // 超過第 N 行後省略
// 	overflow: hidden;
// }

// // 背景圖片
// @mixin backgroundImage {
// 	background-position: center center;
// 	background-size: cover;
// 	background-repeat: no-repeat;
// }

// // 文字強制換行（避免跑版）
// @mixin wordBreak {
// 	word-wrap: break-word;
// 	word-break: break-word;
// 	white-space: normal;
// }

// // modal rwd
// // $width: px
// @mixin modalResponsive($width) {
// 	max-width: $width;
// 	margin-left: 0.5rem;
// 	margin-right: 0.5rem;
// 	@include media-sm {
// 		margin-left: 1.75rem;
// 		margin-right: 1.75rem;
// 	}
// 	@media screen and (min-width: $width) {
// 		margin-left: auto;
// 		margin-right: auto;
// 	}
// }

// // iphone 小瀏海保持安全邊界
// @mixin remainIphoneSaveArea {
// 	padding-left: env(safe-area-inset-left);
// 	padding-top: env(safe-area-inset-top);
// 	padding-right: env(safe-area-inset-right);
// 	padding-bottom: env(safe-area-inset-bottom);
// }
