$border-radius: 0.5rem !default; // rounded-2
$header-height-sm: 72px;
$header-height: 120px;
$transition: 0.2s ease-in-out;
$min-contrast-ratio: 2.5; // 調整對比色數值
$dropdown-min-width: 260px;
$form-select-indicator: url("data:image/svg+xml,%3Csvg width='12' height='6' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L7 7L13 1' stroke='%234D4D4D' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
