
.offcanvas.offcanvas-bottom {
	bottom: 81px;
	overflow: hidden;
	height: 84%;
	border-radius: 12px 12px 0 0;
	z-index: 1055;
	
	.offcanvas-header {
		background: $gray-40;
	}

	.offcanvas-body {
		&::-webkit-scrollbar {
			width: 5px;
			height: 8px;
			background-color: $gray-400; /* or add it to the track */
		}
		
		/* Add a thumb */
		&::-webkit-scrollbar-thumb {
			background: $primary-120;
		}
	}
}
